html {
    font-family: sans-serif;
    text-align: center;
  
  }
  
  body {
    display: inline-block;
    text-align: left
  }
  
  label, legend {
    font-weight: bold
  }
  
  *:required, .obligatorio {
    border: thin solid blue
  }
  
  input[type=number], .numero {
    text-align: right
  }
  
  .error {
    color: red
  }
  
  input[type=number], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #000821;
    box-shadow: 2px 6px 5px 0px rgba(0, 8, 33, 0.80);
    -webkit-box-shadow: 2px 6px 5px 0px rgba(0, 8, 33, 0.80);
    -moz-box-shadow: 2px 6px 5px 0px rgba(0, 8, 33, 0.80);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
  label{
    color: #F20F4B;
    font-weight: 900;
  }
  
  input[type=submit] {
    background-color: #4CAF50; /* Green */
      border: none;
      border-radius: 5% ;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 2px 6px 5px 0px rgba(0, 8, 33, 0.70);
      -webkit-box-shadow: 2px 6px 5px 0px rgba(0, 8, 33, 0.70);
      -moz-box-shadow: 2px 6px 5px 0px rgba(0, 8, 33, 0.70);
    
  
  }
  #limpiar {
    background-color: orange; /* Green */
      border: none;
      border-radius: 5% ;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 2px 6px 5px 0px rgba(0, 8, 33, 0.70);
      -webkit-box-shadow: 2px 6px 5px 0px rgba(0, 8, 33, 0.70);
      -moz-box-shadow: 2px 6px 5px 0px rgba(0, 8, 33, 0.70);
  }
  legend{
      color: blue;
      font-size: 25px;
  }
  
  fieldset {
    border: 1px solid #000821;
    width: 390px;
    box-shadow: 2px 6px 5px 0px rgba(242, 15, 75, 0.70);
    -webkit-box-shadow: 2px 6px 5px 0px rgba(242, 15, 75, 0.70);
    -moz-box-shadow: 2px 6px 5px 0px rgba(242, 15, 75, 0.70);
  }
  
  table {
    width: 100%;
  
    border-radius: 20px;
    box-shadow: 2px 6px 5px 0px rgba(0, 8, 33, 0.70);
    -webkit-box-shadow: 2px 6px 5px 0px rgba(0, 8, 33, 0.70);
    -moz-box-shadow: 2px 6px 5px 0px rgba(0, 8, 33, 0.70);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px;
  }
  h4{
    text-align: center;
    color:#F20F4B;
    font-weight: bold;
  }
  h1{
  color: #000821;
  text-align: center;
  }
  #salidaHobbies{
    color: #F20F4B;
  }
  
  #salidaTortitas{
      position:absolute;
      color: red;
  }

  #salidaPrecio {
      color: #F20F4B;
      font-size: 25px;
      font-weight: 900;
  }
